#shop_banner{
    padding-bottom: 60px;
    .shop_ban{
        position: relative;
        .shop_ban_text{
            position: absolute;
            top: 24%;
            left: 6%;
            h4{
                @include fs(#333, $f1, 600, 28px);
            }
            h3{
                @include fs(#fff, $f1, 700, 40px);
                text-transform: uppercase;
                margin-bottom: 18px
            }
            a{
                @include fs(#fff, $f1, 500, 14px);
                padding: 20px 30px;
                background: black;
                transition: all linear .3s;
                text-transform: uppercase;
                border-radius: 5px;
                &:hover{
                    background: #333;
                }
                i{
                    margin-left: 5px;
                }
            
            }
        }
    }
}