#shop_category{
    padding: 60px 0;
    .shop_c{
        width: 11%;
        margin-right: 22px;
        &:nth-child(8){
            margin-right: 0;
        }
        &:hover{
            a{
                img{
                    transform: scale(1.2);
                }
            }
            .category_text{
                a{
                    color: #336699;
                }
            }
        }
        a{
            border-radius: 50%;
            overflow: hidden;
            display: block;
            img{
                transition: all linear .3s;
            }
        }
        .category_text{
            a{
                @include fs(#333, $f1, 700,14px);
                margin-top: 15px;
                transition: all linear .3s;
            }
        }

    }
}