#team_members{
    padding: 60px 0;
    .our_leaders{
        h4{
            @include fs(#333, $f1, 700, 40px);
        }
        p{
            padding-top: 30px;
            @include fs(#666666, $f1, 400, 14px);
            span{
                display: block;
            }
        }
    }
    .our_leader{
        margin-top: 30px;

        .our_leader_img{
            img{
                border-radius: 10px;
            }
            &:hover{
                .our_leader_overly{
                    opacity: 1;
                    visibility: visible;
                    ul{
                        top: 50%;
                    }
                }
            }
            position: relative;
            .our_leader_overly{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                transition: all linear .3s;
                ul{
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate( -50%);
                    transition: all linear .3s;
                    li{
                        .f{
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            background-color: transparent;
                            border-radius: 50%;
                            color: #fff;
                            border: 2px solid #fff;
                            margin: 0 5px;
                            transition: all linear .3s;
                            i{
                                font-size: 24px
                            }
                            &:hover{
                                color: #fff;
                                border-color:#1b4f9b;
                                background: #1b4f9b;
                            }
                        }
                        .t{
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            background-color: transparent;
                            border-radius: 50%;
                            color: #fff;
                            border: 2px solid #fff;
                            margin: 0 5px;
                            transition: all linear .3s;
                            i{
                                font-size: 24px
                            }
                            &:hover{
                                color: #fff;
                                border-color:#00adef;
                                background: #00adef;
                            }
                        }
                        .i{
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            background-color: transparent;
                            border-radius: 50%;
                            color: #fff;
                            border: 2px solid #fff;
                            margin: 0 5px;
                            transition: all linear .3s;
                            i{
                                font-size: 24px
                            }
                            &:hover{
                                color: #fff;
                                border-color:#cc0001;
                                background-color: #cc0001
                            }
                        }
                    }
                }
            }
        }

        .our_leader_text{
            margin-top: 20px;
            h4{
                @include fs(#333, $f1, 700, 18px);
            }
            p{
                @include fs(#666666, $f1, 400, 14px);
                padding-top: 5px;
                text-transform: uppercase;
            }
        }
    }
}